@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;700&family=Roboto:wght@300;500;700&display=swap');

$navBackgroundColor: #20232A;
$yellowColor: #FFE600;

$latoFont: 'Lato', sans-serif;
$montserratFont: 'Montserrat', sans-serif;
$robotoFont: 'Roboto', sans-serif;