@import '../../../variables/variables.scss' ;

.main-page-body {

}
.hero  {
    position: relative;
    h1 {
        font-size: 175px;
        font-family: $latoFont;
        font-weight: 300;
        text-align: center;
        margin-top: 128px;
        margin-bottom: 89px;
    }
    img {
        position: absolute;
        right: 0;
    }
}
.go-to-docs {
    text-align: center;

    button {
        border: 3px solid $yellowColor;
        background-color: unset;
        border-radius: 50px;
        padding: 13px 34px;
        font-family: $latoFont;
        font-weight: 300;
        font-size: 20px;
     }
}
.add-theme {
    text-align: center;
    margin-top: 100px;
    button {
        background-color: unset;
        border: none;
        font-family: $montserratFont;
        font-size: 18px;
        margin-bottom: 78px;
    }
    span {
        margin-right: 5px;
    }
}
.cards-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 38px;
    .card{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
        height: 225px;
        border-radius: 27px;
        color: $yellowColor;
        font-size: 23px;
        font-family: $latoFont;
        &:hover {
            color: #000;
            background-color: $yellowColor;
            transition: all 1s;
        }
    }
}
.pagination-block {
    display: grid;
    grid-template-columns: 100px 70px 100px;
    justify-content: center;
    margin-top: 35px;
    font-size: 30px;
    font-family: $latoFont;
    font-weight: 300;
        div:nth-child(2) {
           margin-top: 5px;
           margin-right: 10px;
        }
}
.edit-block {
    margin-left: 60px;
     a {
         text-decoration: none;
         color: #000;
         display: flex;
         align-items: center;
     }
}