@import '../../../variables/variables.scss' ;
.footer {
    background-color: $navBackgroundColor;
    padding-top: 130px;
    color: #fff;
    font-family: $robotoFont;

        .footer-content {
            display: grid;
            grid-template-columns: 2fr 4fr;
        }
    }

    .footer-logo {
        display: flex;
        align-items: center;
        font-size: 22px;
    }
    .footer-lists {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 20px;
            li {
                padding-top: 3px;
                padding-bottom: 3px;
                font-weight: 300;
                font-size: 17px;
            }
    }
    .year {
        font-size: 107px;
        margin-left: 80px;
        color: yellow;
    }